include mkdocs_custommill/mkdocs_theme.yml mkdocs_custommill/*.html mkdocs_custommill/__init__.py
recursive-include mkdocs_custommill/css *.css
graft mkdocs_custommill/img
recursive-include mkdocs_custommill/js *.js
graft mkdocs_custommill/webfonts

include mkdocs_custommill/bootstrap/dist/css/bootstrap.min.css
include mkdocs_custommill/bootstrap/dist/js/bootstrap.min.js

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
