[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "~=1.2"
pymdown-extensions = "*"

[packages.mkdocs-exclude]
git = "https://github.com/Siphalor/mkdocs-exclude.git"

[dev-packages]

[requires]
python_version = "3.8"
